<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Ajax con Eventos JSF</title>
    </h:head>
    <h:body>
        <h:form>
        <div align="center" > 
                   <h1>ComboBox Encadenados estado-ciudad</h1>
                   
            <hr/>
            Estado
            <h:selectOneMenu value="#{localidad.estados}">
                <f:selectItems value="#{localidad.estados}"/>
                <f:ajax render="ciudadLista"/>
            </h:selectOneMenu>
            <br/>Ciudad:
            <h:selectOneMenu value="#{localidad.ciudad}"
                             disabled="#{localidad.ciudadListaDeshabilitada}"
                             id="ciudadLista">
                <f:selectItems value="#{localidad.ciudades}"/>
                <f:ajax render="ciudadLista"/>
            </h:selectOneMenu>
                <br/>Número de Habitantes:
                <h:outputText value="#{localidad.ciudad}"
                              id="poblacion"/>
            </div>
           </h:form>
    </h:body>
</html>

