<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Ajax en JSF</title>
    </h:head
    
    <h:body>
    <div align="center" style="background: cornsilk"> 
                   <h1>Sin Ajax</h1>
      </div>             
            <hr/>
            <div align="center">
                <h:form>
                    <fieldset>
                        <legend>Numeros aleatorios:Sin Ajax</legend>
                        <h:commandButton value="muestra numero"
                                         action="#{genera.aleatorizar}"/>
                        <h2> <h:outputText value="#{genera.numero}" id="num"/></h2>
                    </fieldset>
                </h:form>
            </div>       
    </h:body>
</html>

